@import url('https://fonts.googleapis.com/css?family=Merriweather');


body {
    background-color: #ebebeb;
    height: 100vh;
    overflow: hidden;
    padding-top: 30px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-bottom: 70px;
    color: rgba(4, 163, 167, 1);
}

div.page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

div.day-wrapper {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    position: relative;
    width: 380px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 10px 30px -10px #000;
    overflow: hidden;
}

div#display-date {
    background: rgba(0, 233, 233, 0.6);
    padding: 20px;
    font-family: 'Merriweather', serif;
    font-size: 24px;
    color: #fff;
    text-align: center;
}

div#display-time {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
}

p#current-time {
    font-family: 'Orbitron', sans-serif;
    font-size: 60px;
    color: #fff;
    text-align: center;
    margin: 0px;
}

div#toDoTask {
    padding: 20px 0px 20px;
}

div.to-do-tasks {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    color: #fff;
    padding-left: 20px;
    line-height: 0px;
}

input {
    width: 218px;
    height: 30px;
    padding-left: 5px;
    font-size: 16px;
    font-weight: 300;
    color: #4d4d4d;
    outline: none;
}

button {
    padding: 8px;
    border: none;
    background-color: rgb(9, 198, 198);
    color: #fff;
    font-size: 14px;
}

form {
    padding-top: 30px;
}


@media(max-width: 767px) {
    body {
        height: auto;
        overflow-y: scroll;
    }

    div.page-wrapper {
        grid-template-columns: auto;
        grid-row-gap: 80px;
    }
}

@media(max-width: 480px) {
    div.day-wrapper {
        width: 310px;
    }

    p#current-time {
        font-size: 45px;
    }

    div#display-date {
        font-size: 18px;
    }

    div.page-wrapper {
        grid-template-columns: auto;
        grid-row-gap: 80px;
    }
}